@font-face {
    font-family: "vijaya";
    src: url("fonts/vijaya.ttf");
}

section {
    font-family: "vijaya", cursive;
}

.front {
    margin-top: 10%;
}

.front p {
    font-family: "vijaya", cursive;
    font-size: 10vw;
}

p {
    font-family: "vijaya", cursive;
    font-size: 35px;
}

.row {
    margin: 25px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    .text-section p {
        font-size: small;
    }
}

@media screen and (min-width: 600px) {
    .text{
        margin-top: 5%;
    }
}